<!DOCTYPE html>
<html>
<head>
    <title>Affiliate AppFlood - Offer Groups</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/datepicker3.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/uploadify.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js?v=0.4304271461442113"></script>
    <script src="/js/respond.min.js?v=0.4304271461442113"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/sha256.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/jquery.min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/spin.min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/taffy-min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/jquery.tmpl.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/knockout-3.1.0.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/knockout.mapping.min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/knockout.punches.min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/tableExport.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/jquery.base64.min.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/sprintf.js?v=0.4304271461442113"></script>
    <script type="text/javascript" src="/js/utils.js?v=0.4304271461442113"></script>
    <script src="/js/knockout.model.js?v=0.4304271461442113" type="text/javascript"></script>
    <script src="/js/jquery.uploadify.min.js?v=0.39526119781658053&v=0.4304271461442113" type="text/javascript"></script>
</head>

<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">AppFlood</span>
            </button>
            <a href="javaScript:void(0);" class="navbar-brand">AppFlood</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">

                <li>
                    <a href="/admin/snapshot">Snapshot</a>
                </li>


                <li>
                    <a href="/admin/offer/manage" data-toggle="dropdown" data-hover="dropdown">Offers<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/offer/manage">Manage Offers</a></li>
                        <li><a href="/admin/offer/create">Create Offer</a></li>
                        <li><a href="/admin/offer/category">Offer Categories</a></li>
                        <li><a href="/admin/offer/offer_files">Creative Files</a></li>
                        <li><a href="/admin/offer/batch_create">Batch Create Offer</a></li>
                        <li><a href="/admin/offer/applications">Offer Applications</a></li>
                        <li><a href="/admin/offer/offer_groups">Offer Groups</a></li>
                        <li><li><a href="/admin/offer/block/referral">Block Referral URL</a></li></li>
                    </ul>
                </li>


                <li>
                    <a href="#" data-toggle="dropdown" data-hover="dropdown">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/stats/index/daily">Daily Report</a></li>
                        <li><a href="/admin/stats/index/hourly">Hourly Report</a></li>
                        <li><a href="/admin/stats/index/affiliates">Affiliates Report</a></li>
                        <li><a href="/admin/stats/index/affiliates_event">Affiliates Event Report</a></li>
                        <li><a href="/admin/stats/index/advertisers">Advertisers Report</a></li>
                        <li><a href="/admin/stats/index/offers">Offers Report</a></li>
                        <li><a href="/admin/stats/index/conversion">Conversion Report</a></li>
                        <li><a href="/admin/stats/affiliate_referral_report">Affiliate Commission</a></li>
                        <li><a href="/admin/stats/referral_report">Traffic Referrals</a></li>

                    </ul>
                </li>


                <li>
                    <a href="#" data-toggle="dropdown" data-hover="dropdown">Affiliates<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/affiliate/manage">Manage Affiliate</a></li>
                        <li><a href="/admin/affiliate/create">Create Affiliate</a></li>
                        <li><a href="/admin/affiliate/pending">Pending Affiliate</a></li>
                        <li><a href="/admin/affiliate/offer_pixels/manage">Conversion Pixel / URL</a></li>
                        <li><a href="/admin/affiliate/users">Manage Users</a></li>
                        <li><a href="/admin/affiliate/billing">Affiliate Billing</a></li>
                        <li><a href="/admin/affiliate/billing/payments">Billing Payments</a></li>
                        <li><a href="/admin/affiliate/invoice/manage">Billing Invoices</a></li>
                        <li><a href="/admin/affiliate/referral_list">Referral List</a></li>
                        <li><a href="/admin/affiliate/tags">Affiliate Tag</a></li>
                    </ul>
                </li>


                <li>
                    <a href="/admin/advertiser/manage" data-toggle="dropdown" data-hover="dropdown">Advertisers<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/advertiser/manage">Manage Advertisers</a></li>
                        <li><a href="/admin/advertiser/create">Create Advertiser</a></li>
                        <li><a href="/admin/advertiser/pending">Pending Advertisers</a></li>
                        <li><a href="/admin/advertiser/users">Manage Users</a></li>
                        <li><a href="/admin/advertiser/billing">Advertiser Billing</a></li>
                        <li><a href="/admin/advertiser/invoice/manage">Billing Invoices</a></li>
                    </ul>
                </li>

                <!-- li>
                  <a href="#">Ad Manager</a>
                </li -->

                <li>
                    <a href="#" data-toggle="dropdown" data-hover="dropdown">Company<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/mailer">Mail Room</a></li>
                        <li><a href="/admin/employees/">Manage Employees</a></li>
                        <li><a href="/admin/block/">Block Referral IP</a></li>
                    </ul>
                </li>

            </ul>
            <div class="pull-right">
                <div class="navbar-brand">
                    Welcome summer lim
                </div>
                <a href="/logout/admin" class="navbar-brand">Logout</a>
            </div>
        </nav>
    </div>

</header>
<main class="bs-docs-masthead" id="content" role="main">
    <div class="container">

        <ol class="breadcrumb">

            <li class=""><a href="/admin/offer/manage">Offers</a></li>

            <li class="active">Batch Create Offer</a></li>

        </ol>





        <div id="showLoading" data-bind="visible:loading"></div>
        <h2 class="subtitle"> Batch Create Offer</h2>
        <div class="row">
            <div class="col-lg-12" style="margin: 20px auto">

                <input type="file"  id="file_upload" name="file">

                <button type="button" class="btn btn-primary" id="btn" style="    position: absolute;top: -3px;left: 180px;">submit </button>

            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <span class="subtitle"></span>
                    </div>
                    <!--
                                <div class="clearfix">
                                    <div class="pull-left" data-bind="visible:dataItems().length">
                                        <div class="pagination">Page <span data-bind="text:page.page"></span> of <span data-bind="text:page.totalPage()"></span></div>
                                    </div>
                                    <div class="pull-right form-inline">
                                        <ul class="pagination pagination-sm form-group" data-bind="template: 'pageItemList'"></ul>
                                    </div>
                                </div>
                    -->
                    <div data-bind="template: 'groupList'"></div>
                    <!--
                                <div class="clearfix">
                                    <div class="pull-left" data-bind="visible:dataItems().length">
                                        <div class="pagination">Page <span data-bind="text:page.page"></span> of <span data-bind="text:page.totalPage()"></span></div>
                                    </div>
                                    <div class="pull-right form-inline">
                                        <ul class="pagination pagination-sm form-group" data-bind="template: 'pageItemList'"></ul>
                                    </div>
                                </div>
                    -->
                </div>
            </div>
        </div>

        <script type="text/html" id="pageItemList">
            {{if dataItems().length}}
            <li {{if page.page()==1}}class="disabled"{{/if}}><a href="javascript:void(0)"  {{if page.page()>1}}data-bind="click:page.clickPage.bind($data,page.page()-1)"{{/if}} >Prev</a></li>
            {{each(i,r) page.itemsList()()}}
            <li {{if r==page.page()}}class="active"{{/if}}><a href="javascript:void(0)" {{if r!=page.page()}}data-bind="click:page.clickPage.bind($data,${r})"{{/if}}>{{= r}}</a></li>
            {{/each}}
            <li {{if page.page()==page.totalPage()}}class="disabled"{{/if}}><a href="javascript:void(0)" {{if page.page()!=page.totalPage()}}data-bind="click:page.clickPage.bind($data,page.page()+1)"{{/if}} >Next</a></li>
            {{/if}}
        </script>
        <script type="text/html" id="groupList">
            <table class="table">
                <thead>
                <tr>
                    {{each(i,r) headItems}}
                    <th style=" cursor:default" {{if r.sort}}data-bind="click:handleSort.bind($data,'${r.id}','$data.ordeBy()')"{{/if}}>
                    {{= r.handleText}}
                    {{if r.sort}}<span class="glyphicon {{if $data.sortBy()==r.id}}glyphicon-arrow-{{= $data.ordeBy()=='up'? 'up':'down'}}{{else}}glyphicon-sort{{/if}}"></span>{{/if}}
                    </th>
                    {{/each}}
                </tr>
                </thead>
                <tbody>
                {{if !dataItems().length}}
                <tr><td colspan="{{= headItems().length}}">No Categories.</td></tr>
                {{else}}
                {{each(i,r) dataItems}}
                <tr>
                    <td><a style="cursor:default">{{= r.group_id}}</a></td>
                    <td><a style="cursor:default" class="long-text-overflow" title="{{= r.name}}">{{= G.cut(r.name,50)}}</a></td>
                    <td>{{= r.status?'Active':'Inactive'}}</td>
                    <td>{{= r.offer_num}}</td>
                    <td><a style="cursor:default" >Edit</a></td>
                </tr>
                {{/each}}
                {{/if}}
                </tbody>
            </table>
        </script>
        <script type="text/javascript">

            (function($){

                var opts={lines:13,length:20,width:10,radius:30,corners:1,rotate:0,direction:1,color:'#000',speed:1,trail:0,shadow:false,hwaccel:false,className:'spinner',zIndex:9999,top:'50%',left:'50%',color:'#000'};
                var spinner=$('#showLoading').spin(opts);

                var viewModel=new ko.pageModel({linkPageData:'/admin/offer/getGroupList'});
                viewModel.headItems([
                    {id:'id',handleText:'ID'},
                    {id:'Group',handleText:'Group'},
                    {id:'Status',handleText:'Status'},
                    {id:'Offers',handleText:'Offers'},
                    {id:'',handleText:''}
                ])

                ko.applyBindings(viewModel);
                //viewModel.getServerData(1);
                var file_upload=$('#file_upload');
                file_upload.uploadify({
                    swf: '/js/uploadify.swf',
                    uploader : 'postCreateBatchFlies',
                    //fileTypeExts:'*.jpg;*.jpge;*.gif;*.png',
                    // fileSizeLimit:'50MB',
                    preventCaching:false,
                    buttonText:'Select Excel',
                    onUploadStart:function(){
                        alert('start')
                        //var data=ko.toJS(model.data);

                        //file_upload.uploadify("settings", "formData", data);
                    },
                    onUploadSuccess:function(file, data, response){
                        alert('end')
                        var data=ko.utils.parseJson(data);
                        // $('#upload-form').prop('disabled',false);
                        if(!response)return false;
                        if(!data.res){
                            console.log(111)
                        }else{
                            alert(data.msg)
                        }
                    }
                });

            })(jQuery)
        </script>
    </div>
</main>
<!--
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
   Footer
  </div>
</footer>
-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58256827-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>